<body class="justify-content-center">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div *ngIf="!loading" class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <h1>RECUPERAR</h1>
              <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
                <p class="text-muted mt-2 mb-3">Ingrese su USUARIO</p>
                <div class="input-group mb-3 mt-2">
                  <span class="input-group-addon mt-4"><i class="fa fa-user"></i></span>
                  <input type="email" class="form-control mt-3 mb-3" formControlName="correo" placeholder="Usuario">
                </div>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es invalido
                </span>              
                <div class="row">
                  <div class="col-6">
                    <button type="submit" [disabled]="recuperarUsuario.invalid" class="btn btn-primary px-5 mt-2">RECUPERAR</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0 mt-2" routerLink="/login">VOLVER</button>
                  </div>
                </div>
              </form>
              
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <img src="https://oauth.upeu.edu.pe/static/img/logos/logo_upeu.png" alt="logoUpeu" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</body>

