<body class="justify-content-center">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div *ngIf="!loading" class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <h1>Por favor identifíquese</h1>
              <form (ngSubmit)="login()" [formGroup]="loginUsuario">
                <p class="text-muted">Ingrese a su cuenta</p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="email" class="form-control" formControlName="email" placeholder="Usuario">
                </div>
                <span *ngIf="loginUsuario.get('email')?.hasError('required') && loginUsuario.get('email')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="loginUsuario.get('email')?.hasError('email') && loginUsuario.get('email')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es invalido
                </span>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                </div>
                <span *ngIf="loginUsuario.get('password')?.hasError('required') && loginUsuario.get('password')?.touched" class="text-danger errorLabel">
                  El <strong>password</strong> es requerido
                </span>
                <span *ngIf="loginUsuario.get('password')?.hasError('minlength') && loginUsuario.get('password')?.touched" class="text-danger errorLabel">
                  El <strong>password</strong> debe tener 6 caracteres
                </span>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" [disabled]="loginUsuario.invalid" class="btn btn-primary px-5 mt-2">INGRESAR</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0" routerLink="/recuperar-password">recuperar Contraseña</button>
                  </div>
                </div>
                <div>
                  <p class="mt-3">¿no tienes cuenta? <a routerLink="/registar-usuario">  registrar</a></p>
                </div>
              </form>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <img src="https://oauth.upeu.edu.pe/static/img/logos/logo_upeu.png" alt="logoUpeu" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</body>

